{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["symbol"] }}</td>
                        <td>{{ stock["quantity"] }}</td>
                        <td>{{ stock["quote"] }}</td>
                        <td>{{ stock["timestamp"] }}</td>
                    </tr>
                {% endfor %}
        </table>
   </div>

{% endblock %}